body {
  background-color: #EEE;
}
#wrapD3Cube {
    width: 600px;
    height: 600px;
    margin: 80px auto;
}
#D3Cube {
    width: 300px;
    height: 300px;
    top: 50px;
    transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
}

.spinCube {
  animation: cubeRotation 5s infinite;
}
@keyframes cubeRotation {
    0%   {	transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);	}
    100%   {	transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);	}
}

.openBox {
  animation: cubeOpen;
}
@keyframes cubeOpen {
  0%   {	transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);	}
  100%   {	transform: rotateX(-22deg) rotateY(-208deg) rotateZ(0deg); }
}

#D3Cube > .side {
    position: absolute;
    /* transition: all 0.5s ease-in-out; */
    transition: all 0.5s ease-in-out;
    /* transform-origin: bottom center; */
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
	  opacity: 1;
    animation-fill-mode: forwards;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(150px);
    background-color: #FFF;
}
.openTop {
  animation: topOpen 2s;
}
@keyframes topOpen {
  0%   {	transform: rotateZ(0deg) rotateX(90deg) translateX(0px) translateY(0px) translateZ(150px)	}
  100%   {	transform: rotateZ(0deg) rotateX(90deg) translateX(0px) translateY(0px) translateZ(200px); opacity: 0}
}

#laptop {
  background: url("./laptop.png") no-repeat;
  top: 100px;
  left: 50px;
  height: 200px;
  width: 200px;
  position: relative;
  transform: rotateX(0deg) rotateY(38deg) rotateZ(0deg);
  overflow: hidden;
  opacity: 1;
}

#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(150px);
    background-color: #D89B94;
}
.openSide2 {
  animation: sideOpen2 2s;
  transform-origin: bottom center;
}
@keyframes sideOpen2 {
  0%   {	transform: rotateZ(0deg) rotateY(-90deg) translateX(0px) translateY(0px) translateZ(150px)	}
  100%   {	transform: rotateZ(-90deg) rotateY(-90deg) translateX(0px) translateY(-150px) translateZ(0px);	}
}

#side3 {
    transform: translateX(0px) translateY(0px) translateZ(150px);
    background-color: #F3C5B0;
}
.openSide3 {
  animation: sideOpen3 2s;
  transform-origin: bottom center;
}
@keyframes sideOpen3 {
  0%   {	transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(0px) translateZ(150px);	}
  100%   {	transform: rotateX(-90deg) rotateY(0deg) translateX(0px) translateY(-150px) translateZ(0px);	}
}

#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(150px);
    background-color: #D89B94;
}
.openSide4 {
  animation: sideOpen4 2s;
  transform-origin: bottom center;
}
@keyframes sideOpen4 {
  0%   {	transform: rotateZ(0deg) rotateY(90deg) translateX(0px) translateY(0px) translateZ(150px);	}
  100% { transform: rotateZ(90deg) rotateY(90deg) translateX(0px) translateY(-150px) translateZ(0px);	}
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(150px);
    background-color: #F3C5B0;
}
.openSide5 {
  animation: sideOpen5 2s;
  transform-origin: bottom center;
}
@keyframes sideOpen5 {
  0%   {	transform: rotateX(0deg) rotateY(180deg) translateX(0px) translateY(0px) translateZ(150px)	}
  100%   {	transform: rotateX(90deg) rotateY(180deg) translateX(0px) translateY(-150px) translateZ(0px);	}
}

#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(150px);
    background-color: #FFF;
}
